<!-- <div class="container">
  <div class="logoimage">
    <img class="icon" src="assets/Newsfeed_icon.PNG" />
    <h1>News Feeds</h1>
    <button style="font-size:24px" class="fa fa-address-card"></button>
    <h1>Home</h1>
  </div>
</div> -->
<div class="header_bar">
  <img class="icon" src="assets/icon.jpg" />
  <h1 class="title_prop">News Feeds</h1>
  <nav class="navbar navbar-expand-lg ">
    <div class="header_icon">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link tab_style" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link tab_style" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle tab_style"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Comments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
